.home-frame{
    /*min-width:1026px;*/
    min-height: 600px;
    max-height: 86vh;
    width: 79.5%;
    height:100%;
    box-sizing: border-box;
    padding: 0 2em 0 2em;
    overflow-y:scroll;
}
.home-nav{
    margin-bottom: 1em;
}
.home-nav a{
    text-decoration: none;
    color: black;
}
.home-nav a:hover{
    color:rgb(198,47,47);
}
.home-nav ul li{
    list-style: none;
    padding: 1em 0 1em 0;
    position: relative;
    box-sizing: border-box;
    margin: 0 1.5em 0 1.5em;

}
.home-nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 1px solid rgb(225,225,226);
    box-sizing: border-box;
}

.nav-active{
    color:rgb(198,47,47);
    border-bottom: 2px solid rgb(198,47,47);
}
.nav-active a{
    color:rgb(198,47,47) !important;
}
/*.nav-active::after{*/
/*    content: '.';*/
/*    color: transparent;*/
/*    position: absolute;*/
/*    background-color: rgb(198,47,47);*/
/*}*/
.carousel-frame{
    display: flex;
    width: 100%;
    flex-flow:column nowrap;
    overflow: hidden;
    /*min-height: ;*/
}
.carousel-img{
    width: 100%;
}
.carousel-img li{
    list-style: none;
    position: absolute;
    max-width: 675px;
    max-height: 251px;
    width: 675px;
    height: 240px;
    bottom:0;
    transition: 0.8s;
    background-size: contain;
}
.carousel-img li img{
    width:100%;
    height: 100%;
    object-fit: contain;
    z-index: -1; /*original z index*/
}
.carousel-img{
    position: relative;
    height: 251px;
}
.main-carousel{
    position: relative;
}
.main-carousel .prev, .main-carousel .next{
    position: absolute;
    z-index: 10000;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.main-carousel .next{
    right: 1em;
}
.main-carousel .prev{
    left: 1em;
}
.main-carousel .next:hover, .main-carousel .prev:hover{
    color:rgb(220,220,220)
}

.banner-tag{
    position: absolute;
    border-radius: 1em 0 0 1em;
    /*background-color: rgb(204,74,74);*/
    color:rgb(250,250,250);
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em 0 0.7em;
    right:-0.2em;
    bottom:0.5em;
}

.dot-nav ul{
    display: flex;
    flex-flow:row nowrap;
    width: 100%;
    justify-content: center;
    padding-top:0.5em;
}
.dot-nav ul li{
    list-style: none;
    background-color: rgb(200,200,200);
    width: 20px;
    height: 4px;
    margin: 0 0.2em 0 0.2em;
    cursor: pointer;
    color:transparent;
}
.dot-nav ul li:hover{
    background-color: rgb(198,47,47);
}
.dot-active{
    background-color: rgb(198,47,47)!important;
}


.mid-image{
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    height: 250px!important;

}
.before-mid{
    left: 0;
    /*transform: translateZ(5px);*/
    z-index: 999;
}
.after-mid{
    right: 0;
    /*transform:translateZ(5px);*/
    z-index: 999;
}
/*darken sub images*/
.before-mid:after, .after-mid:after{
    content: '.';
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}