.playlist-frame-box{
    position: relative;
}
.tag-select{
    border:1px solid rgb(225,225,225);
    border-radius: 5px;
    width: fit-content;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
    margin-bottom: 1em;
    position: relative;
}
.tag-select:hover{
    background-color: rgb(230,230,230);
    cursor: pointer;
}

.specific-cat{
    position:absolute;
    z-index: 1000;
    overflow-y: scroll;
    padding:0.7em 1em ;
    background-color: rgb(250,250,250);
    width:56%;
    height: 45vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(200,200,200);
}
.arrow{
    position: absolute;
    width: 1em;
    height: 1em;
    border: 1px solid;
    transform: rotate(45deg);
    background-color: rgb(250,250,250);
    border-color: rgb(230,230,230) transparent  transparent rgb(230,230,230);
    top:2.2em;
    left:2.5em;
    z-index: 1001;
}
.specific-cat>div{
    margin-bottom: 1em;
}
.specific-cat > div:first-of-type a{
    color:rgb(102,102,102)
}
.specific-cat > div:first-of-type:hover{
    background-color: rgb(240,240,240);
}
.main-tag{
    color:rgb(206,78,78);
    flex:0 0 16%;
    font-size:1.2em;
    line-height: 200%;
}
.tag-inside{
    display: flex;
    flex-flow:row wrap;
    flex:0 0 83%;
    font-size: 0.9em;
}
.tag-inside div{
    flex: 0 0 20%;
    border:1px solid rgb(225,225,225);
    text-align: center;
    box-sizing: border-box;
    padding: 0.6em;
    white-space: nowrap;
    position: relative;
}
.tag-inside div:hover{
    background-color: rgb(240,240,240);
}
.tag-inside div a{
    color:rgb(100,100,100)
}

.selected {
    border-color: rgb(206,78,78)!important;
}
.selected a{
    color:#000!important;
}
.hot-tag::before{
    content: 'HOT';
    font-size: 0.6em;
    font-weight: bold;
    color:rgb(206,78,78);
    position: absolute;
    top:0;
    right:0;
}
.selected::after{
    width: 1.8em;
    height: 1.8em;
    font-size: 0.8em;
    font-weight: bold;
    text-indent: 0.8em;
    line-height: 250%;
    background-image: linear-gradient(-45deg, rgb(206,78,78) 50%, transparent 50%);
    /*border-bottom:1em solid rgb(206,78,78);*/
    /*border-left:1em solid transparent;*/
    content: '√';
    color:#fff;
    /*background-color: rgb(206,78,78);*/
    position: absolute;
    bottom:-1px;
    right: 0;
}

.hot-tags{
    font-size: 0.9em;
    margin-bottom: 1em;
}
.hot-tags span{
    padding: 0 1em;
}
.hot-tags span a {
    color:rgb(102,102,102)
}
.hot-tags span a:hover{
    color:#000;
}

.playlist-frame{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
}

.playlist-item{
    flex: 0 0 23%;
    position: relative;
    margin:0.5em 1.3em 1em 0;
    overflow: hidden;
    height: 19em;
}
.playlist-item img{
    width: 100%;
    height: 80%;
}

.playlist-item a{
    color:rgb(50,50,50)
}
.playlist-item a:hover{
    color:#000;
}