
i#p svg:hover,i#d svg:hover{
    color:black
}
.side-frame{
    min-width:200px ;
    /*min-height:600px;*/
    max-height: 86vh;
    width: 20.5%;
    /*padding:15px ;*/
    background-color: rgb(245,245,247);
    box-sizing: border-box;
    padding-top: 1em;
    border-right:1px solid rgb(225,225,226);
    overflow-y: scroll;
}
.side-frame a{
    text-decoration: none;

    color:rgb(92,92,92);
    font-family: Andalus ;
    height: 0;
}
.side-frame a:hover{
    color:#000
}
.recommend ul li, .my-music ul li, .create-new ul li, .subscribed-songlist ul li{
    /*margin-left: 1em;*/
    list-style: none;
    padding: 0.5em 0 0.5em 2em;
    position: relative;
    box-sizing: border-box;
    /*text-indent: 1em;*/
}
.recommend span, .my-music span, .create-new span, .subscribed-songlist span{
    padding-left: 1em;
}
.recommend ,.my-music, .create-new{
    margin-bottom:2em;
    /*box-sizing: border-box;*/
    cursor: default;
    font-family: Andalus;
}
.create-new{
    cursor: default;
    font-family: Andalus;
    position: relative;
}

.active{
    background-color: rgb(230,231,234);
    color: black;
}
.active::before{
    color: transparent;
    content:'.';
    display: block;
    height: 100%;
    position: absolute;
    background-color: rgb(198,47,47);
    left: 0;
    top:0;
}

.create-action{
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
}

.playlist-menu{
    position:fixed;
    background-color: rgb(250,250,250);
    box-shadow: 0 0 10px rgb(200,200,200);
    border:1px solid rgb(200,200,200);
    z-index: 10001;
    padding: 0.1em;
}
.playlist-menu div:last-child{
    border-top: 1px solid rgb(200,200,200);
}
.playlist-menu div {
    padding: 0.5em 1em;
}
.playlist-menu div:hover{
    background-color: rgb(230,230,230);
    color:#000;
    cursor: pointer;
}

.create-box{
    background-color: rgb(250,250,250);
    box-shadow: 0 0 10px rgb(200,200,200);
    border:1px solid rgb(200,200,200);
    width: 20%;
    height: 25vh;
    position: fixed;
    border-radius: 5px;
    z-index: 10001;
    padding: 1.5em 1.3em;
}
.create-box input{
    outline-style: none;
    border: 1px solid rgb(200,200,200);
    padding: 1em;
    font-size: 1em;
    width: 100%;
    height: 1.5em;
    margin: 1em 0 5vh 0;
}
.create-box div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.create-box div>div{
    border-radius: 5px;
    text-align: center;
    padding: 0.3em 1.5em;
    cursor: pointer;
}

.create-box::before{
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 10002;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: transparent transparent rgb(200,200,200) rgb(200,200,200);
    left: -0.5em;
    top: 1.4em;
    background-color: rgb(250,250,250);
}

#toggle-list,#add-list, #sub-toggle{
    cursor: pointer;
}

.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subscribed-songlist{
    overflow-y:auto;

}